<main class="container">
  <br>
  <h1 class="centered"><%= @cohort.name %>'s File</h1>
  <br>
  <br>

  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <table class="sizing table">
        <thead style="background-color: #3CABDB;">
          <tr>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cohort Record</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="font1" scope="row"><strong>Name:</strong></th>
            <td class="data"><%= @cohort.name %></td>
          </tr>
          <tr>
            <th class="font1" scope="row"><strong>Start date:</strong></th>
            <td class="data"><%= @cohort.start_date %></td>
          </tr>
          <tr>
            <th class="font1" scope="row"><strong>End date:</strong></th>
            <td class="data"><%= @cohort.end_date %></td>
          </tr>
          <tr>
            <th class="font1" scope="row"><strong>Course ID:</strong></th>
            <td class="data"><%= @cohort.course_id %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
    </div>
  </div>


  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <button class="butt btn btn-success btn-block" style="text-align: center;"><%= link_to 'Edit', edit_cohort_path(@cohort) %></button>
      <button class="butt btn btn-success btn-block" style="text-align: center;"><%= link_to 'Back', cohorts_path %></button>
    </div>
    <div class="col-sm">
    </div>
  </div>


</main>
